@import url('../shared/style.css');



.todo-card{
    margin-bottom: 4px;
    padding: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4px;
  
}

    
.action{
    background-color: white;
    border: 1px solid black;
    border-radius: 50%;
    font-size: x-large;
    min-width: 30px;
    min-height: 30px;
    text-decoration: none;
    color: black;
    line-height: 30px;
    text-align: center;
    display: inline-block;
}

.action:hover{
    background-color: black;
    color: white;
}

.sort-btn{
    padding: 8px;
    border-radius: 30px;
    background-color: white;
}

.colored-dot{
    min-height: 30px;
    min-width: 30px;
    border-radius: 50%;
}

.color-and-title{
    display: flex;
    align-items: center;
    gap: 8px;
}

.actions-container{
    display: flex;
    justify-content: flex-end;
}