@import url('../shared/style.css');
        




#todo-form{
    display: flex;
    gap: 16px;
    flex-direction: column;
}

.form-group{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.form-input{
    width: 600px;
    max-width: 80vw;
}

